.formStyling {
  font: 12pt "Comic Sans MS";
  background: linear-gradient(to left, #451d8a, #d53a9d);
  color: rgb(221, 176, 176);
  border: 5px dotted rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
.options {
  border: 1px solid rgb(91, 48, 190);
  background: rgb(115, 73, 182);
  border-radius: 4px;
  color: white;
}
.formTitle {
  color: rebeccapurple;
  background: rgb(200, 188, 219);
}
